.link {
  cursor: pointer !important;
}



.navbar {
  background:linear-gradient(rgba(255, 0, 0, 0.85) 44%, rgba(70, 17, 17, 0.747) 70%, rgba(255, 255, 255, 0)) !important;
}



.container {
  max-width: 45rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  background-color: #3d3d3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1.5em;
}


@media (max-width: 500px) {
  .header {
    padding: 0.5rem 0;

  }

  .main {
    margin: 1rem;
  }

  .togglebutton {
    padding: 0.1rem 0.25rem;
  }

  .title {
    font-size: x-large;
  }
}

.title {
  margin: 0px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 4rem;
}
.main::content {
  margin: 0;
}

.middletitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.togglebutton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 35px;
}

.togglebutton:hover .bar {
  background-color: hsla(0,0%,100%,.65);
}

.togglebutton .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


.backToHome {
  margin: 3rem 0 0;
}

.borderCircle {
  cursor: pointer !important;
  border-radius: 50%;
}